@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
    --mainColor: #60d2ee91;
}

.body {
    background-image: url(/assets/images/кружочек.jpeg);
    /* background-position: center; */
}

.nav {
    display: flex;

}

.pic {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.img {
    width: 15%;
    margin: 7%;
}

.list {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.item {
    display: inline;
    padding: 10px;
}


.link {
    background:
        linear-gradient(to right,
            var(--mainColor) 0%,
            var(--mainColor) 5px,
            transparent 5px);
    background-repeat: repeat-x;
    background-size: 100%;
    color: rgb(247, 116, 64);
    padding-left: 10px;
    text-decoration: none;
}

.link:hover {
    background:
        linear-gradient(to right,
            var(--mainColor) 0%,
            var(--mainColor) 5px,
            transparent);
}

.select {
    display: flex;
    justify-content: center;
}

.dropdown {
    color: rgb(245, 199, 140);
    background-color: rgb(6, 40, 51);
    border: 1px dashed rgb(89, 15, 228);
}

.title {
    text-align: center;
    margin: 5%;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: 900;
    background: linear-gradient(to right, red, orange, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    line-height: 48px;
}

.questions {
    display: grid;
    justify-content: center;
    text-align: center;

}

.content {
    border-radius: 100%;
    width: 100%;
    padding: 35px;
    background-color: rgba(34, 21, 3, 0.733);
}

.more {
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: 600;
    background: linear-gradient(to left, green, rgb(173, 255, 47), rgb(0, 250, 154));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 30px;
}

.links {
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right,
            var(--mainColor) 0%,
            var(--mainColor) 5px,
            transparent 5px);
    background-repeat: repeat-x;
    background-size: 100%;
    color: rgb(3, 240, 102);
    line-height: 3;
}

.links:hover {
    background: linear-gradient(to right,
            var(--mainColor) 0%,
            var(--mainColor) 5px,
            transparent);
}

.contact {
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(to right, #800080, #FF8C00, #4B0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    line-height: 20px;
    text-shadow: black 2px 2px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;

}

.plane,
.vkontakte,
.insta {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: rgba(95, 171, 233, 0.452);
    border: 2px solid rgb(41, 33, 33);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0 13px 13px 0;
    padding: 10px;
    color: rgba(161, 240, 87, 0.678);
}

.plane:hover,
.vkontakte:hover,
.insta:hover {
    background: #249bd7;
    color: #fff;
}